
<!-- <div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{text}}</p>
  <a href="/posts/edit/{{_id}}" class="btn btn-dark btn-block mb-2">Thay đổi</a>
  <form action="/posts/{{_id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Xóa" class="btn btn-danger btn-block">
  </form>
</div>
{{else}}
<p>Chưa có bài viết nào</p>
{{/each}} -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    rel="stylesheet"
    href="http://stackpath.boostrapcdn.com/boostrap/4.4.1/css/boostrap.min.css"
    integrity="sha384-Vkoo8x4CGs03+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
  <tbody>
  <% 
    for(var i=0; i<data.length; i++) {%>
      <tr>
        <td><%=data[i].name%></td>
        <td><%=data[i].email%></td>
        <td>
          <a href="/" class="btn btn-primary">Sửa</a>
        </td>
      </tr>
    }
    %> 
  </tbody>
</body>
</html>